VisapLine/Connected Services/MovimientoContable/MovCont.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultaMovimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaMovimientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaMovimientoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarMovimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="plnt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dat">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarMovimientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarMovimientoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Registrar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="plnt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaMovimientoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaMovimiento" />
  </wsdl:message>
  <wsdl:message name="ConsultaMovimientoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaMovimientoResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarMovimientoSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarMovimiento" />
  </wsdl:message>
  <wsdl:message name="RegistrarMovimientoSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarMovimientoResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarSoapIn">
    <wsdl:part name="parameters" element="tns:Registrar" />
  </wsdl:message>
  <wsdl:message name="RegistrarSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarResponse" />
  </wsdl:message>
  <wsdl:portType name="MovContSoap">
    <wsdl:operation name="ConsultaMovimiento">
      <wsdl:input message="tns:ConsultaMovimientoSoapIn" />
      <wsdl:output message="tns:ConsultaMovimientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarMovimiento">
      <wsdl:input message="tns:RegistrarMovimientoSoapIn" />
      <wsdl:output message="tns:RegistrarMovimientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <wsdl:input message="tns:RegistrarSoapIn" />
      <wsdl:output message="tns:RegistrarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MovContSoap" type="tns:MovContSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaMovimiento">
      <soap:operation soapAction="http://tempuri.org/ConsultaMovimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarMovimiento">
      <soap:operation soapAction="http://tempuri.org/RegistrarMovimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <soap:operation soapAction="http://tempuri.org/Registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MovContSoap12" type="tns:MovContSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaMovimiento">
      <soap12:operation soapAction="http://tempuri.org/ConsultaMovimiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarMovimiento">
      <soap12:operation soapAction="http://tempuri.org/RegistrarMovimiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrar">
      <soap12:operation soapAction="http://tempuri.org/Registrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovCont">
    <wsdl:port name="MovContSoap" binding="tns:MovContSoap">
      <soap:address location="http://localhost/MovCont.asmx" />
    </wsdl:port>
    <wsdl:port name="MovContSoap12" binding="tns:MovContSoap12">
      <soap12:address location="http://localhost/MovCont.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>