VisapLine/Connected Services/ComandCmd/ExecuteCmd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExecuteCommand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcelSIIGO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RutaEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Año" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PUSHMOV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Norma" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NombreArchivoExcelEntrada" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encrypt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteCommandResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteCommandSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteCommand" />
  </wsdl:message>
  <wsdl:message name="ExecuteCommandSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteCommandResponse" />
  </wsdl:message>
  <wsdl:portType name="ExecuteCmdSoap">
    <wsdl:operation name="ExecuteCommand">
      <wsdl:input message="tns:ExecuteCommandSoapIn" />
      <wsdl:output message="tns:ExecuteCommandSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExecuteCmdSoap" type="tns:ExecuteCmdSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteCommand">
      <soap:operation soapAction="http://tempuri.org/ExecuteCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExecuteCmdSoap12" type="tns:ExecuteCmdSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteCommand">
      <soap12:operation soapAction="http://tempuri.org/ExecuteCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExecuteCmd">
    <wsdl:port name="ExecuteCmdSoap" binding="tns:ExecuteCmdSoap">
      <soap:address location="http://localhost/ExecuteCmd.asmx" />
    </wsdl:port>
    <wsdl:port name="ExecuteCmdSoap12" binding="tns:ExecuteCmdSoap12">
      <soap12:address location="http://localhost/ExecuteCmd.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>